@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

@keyframes scroll {
  0% {
    transform: translateY(100%); 
  }
  100% {
    transform: translateY(-100%); 
  }
}

body {
  @apply bg-gray-100 text-gray-900; 
}

h1 { 
  @apply text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block; 
}

h2 {
  @apply text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block; 
}

.my-custom-class {
  @apply text-pink-800; 
}

.bg-primary-color {
  @apply px-1 py-2 w-full rounded-xl mr-4 bg-gradient-to-r from-orange-500 to-pink-500 text-black font-bold hover:border-none; 
}

